.navbar-color {
    background-color: #02e394;
}

body {
    background: aliceblue;
}

p{
    color: #34495e;
    font-size: medium;
    
}
.navbar{
    padding-top: 0px;
    padding-bottom:0px;
}

.carousel-margin{
    margin-top: 3.5em;
}

